<div n:foreach="$infoMessagesTranslations AS $infoMessagesTranslation" class="alert info-message alert-{$infoMessagesTranslation->getInfoMessage()->getType()}">
    {$infoMessagesTranslation->getText()|noescape}
</div>