{block #content}
    <p n:isAllowed="infoMessage,edit">
        <a n:href="InfoMessage:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New info message"}</a>
    </p>
    {control infoMessageGrid}
{/block}